<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<logger name="org.springframework" level="INFO" />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} - %m%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="httpLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/http.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_PATH}/%d{yyyyMMdd}/http-%d{yyyyMMdd}.log
			</FileNamePattern>
			<maxHistory>365</maxHistory>
		</rollingPolicy>
		<encoder>
			<ImmediateFlush>true</ImmediateFlush>
			<charset>utf-8</charset>
			<Pattern>[%d{yyyyMMdd HH:mm:ss}] - %m%n</Pattern>
		</encoder>
	</appender>
	<!-- 系统日志配置 -->
	<appender name="sysLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/sys.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_PATH}/%d{yyyyMMdd}/sys-%d{yyyyMMdd}.log
			</FileNamePattern>
			<maxHistory>365</maxHistory>
		</rollingPolicy>
		<!-- <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> <maxFileSize>100MB</maxFileSize> 
			</triggeringPolicy> -->
		<encoder>
			<ImmediateFlush>true</ImmediateFlush>
			<charset>utf-8</charset>
			<Pattern>[%d{yyyyMMdd HH:mm:ss}] - %m%n</Pattern>
		</encoder>
	</appender>
	<logger name="sysLog" additivity="false" level="info">
		<!-- <appender-ref ref="stdout" /> -->
		<appender-ref ref="sysLogAppender" />
	</logger>
	<logger name="httpLog" additivity="false" level="INFO">
		<appender-ref ref="stdout"/>
		<appender-ref ref="httpLogAppender"/>
	</logger>
	<!-- root 默认日志配置 -->
	<root level="info">
		<appender-ref ref="stdout" />
		<appender-ref ref="sysLogAppender" />
	</root>
</configuration>